{% load widget_tweaks %}
<style type="text/css">
	.cambiar-info{
		font-size: 16px;
		color: #827f7f;
		font-weight: 400;
	}
</style>
<div class="modal-dialog swal2-show" role="document">
	<div class="modal-content">
		<a href="#" class="btn-close-modal" data-dismiss="modal"><i class="fas fa-times"></i></a>
		<form id="form_editar_password_user_actual" action="{% url 'templates_perfil:editar_perfil_password_actual' %}" class="form-editar contact_form" method="POST">
			{% csrf_token %}
			<div class="modal-body">
				<div id="erroresEditar">	
				</div>
                <div class="col-sm-12">
                    <div class="form-group">
                    	<h1 class="resaltar-input">{{ form.old_password.label}} {{form.old_password | attr:'class: form-control' }}</h1> 
                    	
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                    	<h1 class="resaltar-input">{{ form.new_password1.label}} {{form.new_password1 | attr:'class: form-control' }}</h1> 
                    	
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                    	<ul class="cambiar-info">
                    		<li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                    		<li>Su contraseña debe contener al menos 8 caracteres.</li>
                    		<li>Su contraseña no puede ser una clave utilizada comunmente.</li>
                    		<li>Su contraseña no puede ser completamente numérica.</li>
                    	</ul>
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <div class="form-group">
                    	<h1 class="resaltar-input">{{ form.new_password2.label}} {{form.new_password2 | attr:'class: form-control'}}</h1> 
                    	
                    </div>
                </div>
                
			</div>
			<div class="modal-footer">
				<button id="bloquear_button_agregar" class="btn btn-info" type="button" onclick="editarPasswordUsuarioActual();">Confirmar</button>
			</div>
		</form>
	</div>
</div>