beautifulsoup4==4.9.3
da-vinci==0.3.0
defusedxml==0.6.0
diff-match-patch==20200713
dj-database-url==0.5.0
Django==2.2.3
django-bootstrap4==2.3.1
django-ckeditor==6.0.0
django-crispy-forms==1.9.2
django-floppyforms==1.9.0
django-import-export==2.4.0
django-js-asset==1.2.2
django-redis==4.12.1
django-session-timeout==0.1.0
django-smartfields==1.1.3
django-thumbnails==0.3.2
django-widget-tweaks==1.4.8
et-xmlfile==1.0.1
gunicorn==20.0.4
httplib2==0.18.1
importlib-metadata==2.0.0
jdcal==1.4.1
MarkupPy==1.14
oauth2client==4.1.3
odfpy==1.4.1
openpyxl==3.0.5
Pillow==8.0.1
pkg-resources==0.0.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-decouple==3.4
pytz==2020.4
PyYAML==5.3.1
redis==3.5.3
rsa==4.6
shortuuid==1.0.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
tablib==2.0.0
uritemplate==3.0.1
whitenoise==5.2.0
xlrd==1.2.0
xlwt==1.3.0
zipp==3.4.0
