{% load bootstrap4 %}
{% load staticfiles %}
<div class="modal-dialog modal-lg swal2-show" role="document">
	<div class="modal-content">
		<a href="#" class="btn-close-modal" data-dismiss="modal"><i class="fas fa-times"></i></a>
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row justify-content-around" id="" style="margin-top: 10px;">
					<div class="col text-center mejorar-posicion-imagen">
						{% if object.imagen %}
							<img src="{{ object.imagen.url }}"  alt="Responsive image">
						{% else %}
							<img id="myImg" src="{% static 'personal/imagen/sin_imagen.png' %}" class="img-fluid" alt="No existe">
						{% endif %}
					</div>
					<div class="col text-center">
			            <div class="text-center titulo-div-modal">
			                <h6>Información <button id="bloquear_button_agregar" class="btn btn-info btn-sm" type="button" onclick="abrir_modal_editar('{% url 'templates_deporte:editar_deporte' object.pk %}');" style="border-radius: 0px;"><i class="fas fa-edit"></i></button></h6>
			            </div>
						<p class="text-justify parrafo-div-modal" style="margin:-0.5% 0;">Nombre: <span class="parrafo-span-div-modal">{{ object.nombre|title }}</span> </p>
						<div class="dropdown-divider"></div>
						<p class="text-justify parrafo-div-modal">Precio: <span class="parrafo-span-div-modal">${{ object.precio }}</span></p>
						<div class="dropdown-divider"></div>
						<p class="text-justify parrafo-div-modal">Publicado: <span class="parrafo-span-div-modal">El {{ object.created }}</span></p>
						<div class="dropdown-divider"></div>
						<p class="text-justify parrafo-div-modal">Ultima modificación: <span class="parrafo-span-div-modal">El {{ object.modified }}</span></p>
						<div class="dropdown-divider"></div>
						<div style="height:220px;overflow:auto;">
							<p class="text-justify parrafo-div-modal">Descripción: <span class="parrafo-span-div-modal">{{ object.descripcion}}</span></p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>