{% extends 'home/index.html' %}
{% load staticfiles %}

{% block titulo %}CoGua | Cabañas{% endblock titulo %}

{% block cssextras %}
{% endblock cssextras %}

{% block encabezado %} 
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Cabañas</h3>
                    <p>Pixel perfect design with awesome contents</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Ya conoces las cabañas?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="#">
                        <div class="input_field">
                            <input type="text" placeholder="Buscalo rapidamente">
                        </div>
                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit" >Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock encabezado %}
<!-- where_togo_area_end  -->

{% block publicaciones %}
<div class="popular_places_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="filter_result_wrap">
                    <h3>Filter Result</h3>
                    <div class="filter_bordered">
                        <div class="filter_inner">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_select">
                                        <select>
                                            <option data-display="Country">Country</option>
                                            <option value="1">Africa</option>
                                            <option value="2">canada</option>
                                            <option value="4">USA</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_select">
                                        <select>
                                            <option data-display="Travel type">Travel type</option>
                                            <option value="1">advance</option>
                                            <option value="2">advance</option>
                                            <option value="4">premium</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="range_slider_wrap">
                                        <span class="range">Prise range</span>
                                        <div id="slider-range"></div>
                                        <p>
                                            <input type="text" id="amount" readonly style="border:0; color:#7A838B; font-weight:400;">
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="reset_btn">
                            <button class="boxed-btn4" type="submit">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {% for hoteles in object_list %}
                        <div class="col-lg-6 col-md-6">
                            <div class="single_place">
                                <div class="thumb home-div-imagenes">
                                    {% if hoteles.imagen %}
                                        <img src="{{hoteles.imagen.url}}" alt="">
                                    {% else %}
                                        <img src="{% static 'personal/imagen/sin_imagen.png' %}" alt="">
                                    {% endif %}
                                    <a href="{% url 'templates_home:deporte_detalles' hoteles.id %}" class="prise">$ {{ hoteles.precio }}</a>
                                </div>
                                <div class="place_info">
                                    <a href="{% url 'templates_home:deporte_detalles' hoteles.id %}"><h3>{{hoteles.nombre}}</h3></a>
                                    <p><i class="fas fa-ad"></i> {{ hoteles.modified }}</p>
                                    <div class="rating_days d-flex justify-content-between">
                                        {% csrf_token %}
                                        <span class="d-flex justify-content-center align-items-center">
                                             
                                        </span>
                                        <div class="days">
                                            {% if hoteles.cantidad > 0 %}
                                             <button onclick="abrir_modal_reservar('{% url 'templates_reserva:modal_reserva_hotel_detalles' hoteles.id %}');" class="btn btn-info btn-sm cambiar-button-nuevo" type="button"><i class="fab fa-resolving"></i> Reservar</button>
                                             {% else %}
                                             <a href="">No disponible</a>
                                             {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; Primera</a>
                                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                {% endif %}

                                <span class="current">
                                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="more_place_btn text-center">
                            <a class="boxed-btn4" href="#">More Places</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- newletter_area_start  -->
   
    <!-- newletter_area_end  -->
<div class="recent_trip_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Recent Trips</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="img/trip/1.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>Journeys Are Best Measured In
                                New Friends</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="img/trip/2.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>Journeys Are Best Measured In
                                New Friends</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="img/trip/3.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>Journeys Are Best Measured In
                                New Friends</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contenedor del modal -->
<div class="modal fade" id="modalReservar" rol="dialog">
</div>
{% endblock publicaciones %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'personal/main.js' %}"></script>
{% endblock extrajs %}